{% extends 'catalog/base_generic.html'%}
{% block content%}
    {%if validlink %}
        <p> Please Enter and (confirm) Your new password</p>
        {% csrf_token%}
        <table>
            <tr>
                <td>{{form.new_password1.errors}}
                <label for "id_new_password1">New Password</label></td>
                <td>{{form.new_password1}}</td>
            </tr>
            <tr>
                <td>{{form.new_password2.errors}}
                <label for 'id_new_password2'>Confirm the Password</label></td>
                <td>{{form.new_password2}}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type='submit' value ='Change the Password'></td>
            </tr>
                        
        </table>
        
    {%else %}
    <h1> Password reset Faild</h1>
    <h1> The Password reset link was invalid,possilby because the link has been used .Please trequest another password reset link</h1>

    {%endif%}
{% endblock%}